<% if !current_user %>
<%= link_to 'Log-in', '/login'%>
<%= link_to 'Register', '/register'%>
<% end %>
<% if current_user %>
<% if current_user.admin%>
<%= link_to 'Logout', 'sessions/destroy', confirm: '정말로 로그아웃 할까요?', method: :delete %>
<%= link_to '유저 관리', 'users' %>
<%else%>
<% end %>
<%if !current_user.admin%>
<%= link_to 'Logout', 'sessions/destroy', confirm: '정말로 로그아웃 할까요?', method: :delete %>
<% end %>
<% end %>

<h1>Dragre</h1>
<% if current_user %>
<% if current_user.admin%>
	<p><a href="/upload" class="uploadbutton">Upload</a></p>
<% end %>
<% end %>
<table>
		<th>Name</th>
		<th>Format</th>
		<th>Size</th>
		<th>Etc.</th>
<% @dirs.each do |dir| %>
	<tr>
		<td><a href="<%= request.url+"/"+File.basename(dir) %>"><%= File.basename(dir) %></a></td>
		<td>Folder</td>
	</tr>
<% end %>
<% @files.each do |file| %>
		<tr>
		<td><a href="<%= "/files" + request.path + "/" + File.basename(file) %>"><%= File.basename(file)  %></a></td>
		<td>File</td>
		<td><%= File.size(file)/@mb %>MB</td>
		<td><a href="<%= "/transfers/"+ File.basename(file) %>">Torrent</a></td>
	</tr>
<% end %>
</table>